/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
} */

/* #wrapper {
    max-width: 900px;
    min-height: 600px;
    margin: 20px auto;
    background-color: #fffffffe;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
} */

/* #header {
    order: 1;
    height: 30px;
    background-color: rgb(211, 211, 211);
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* #userPanel {
    order: 4;
    width: 150px;
    padding: 10px;
    text-align: center;
    background-color: rgb(211, 211, 211);
}

#matePanel {
    width: 150px;
    padding: 10px;
    text-align: center;
    background-color: rgb(211, 211, 211);
    position: relative;
    z-index: 1;
} */

/* #messageArea {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    overflow-y: auto;
    border: 1px solid #ffffff;
    padding: 10px;
    max-height: calc(100vh - 130px);
} */

/* #inputArea {
    display: flex;
    align-items: center;
    position: relative;
} */

/* #messageInputContainer {
    display: flex;
    flex: 1;
    position: relative;
} */

/* #messageInput {
    flex-grow: 1;
    padding: 8px;
    padding-right: 60px;
    border: 1px solid #000000;
    border-radius: 4px;
} */

/* #sendButton {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 15px;
    margin: 0;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
} */

/* #chatInput {
    border-radius: 20px;
    padding: 1px;
    border: 1px solid #ccc;
    text-align: center;
} */

label {
    width: 50px;
    height: 25px;
    position: relative;
    margin-left: 50px;
    display: block;
    background: #f2f2f2;
    border-radius: 50px;
    box-shadow: inset 0px 1.5px 5px rgba(0, 0, 0, 0.4),
        inset 0px -1.5px 5px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

label:after {
    content: "";
    width: 24px;
    height: 24px;
    left: 2px;
    top: 0.5px;
    position: absolute;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 25px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

input:checked+label {
    background: #242424;
}

input:checked+label:after {
    left: 50px;
    transform: translate(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

label:active:after {
    width: 30px;
}

.background {
    background: #fff;
    transition: 0.3s;
}

input:checked+label+.background {
    background: #242424;
}

#menuIcon {
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #333;
}

.hidden {
    display: none;
}

.speech-bubble {
    background-color: rgb(190, 190, 190);
    border-radius: 7px;
    padding: 10px;
    max-width: 60%;
    min-width: 10%;
    /* збільшення ширини вдвічі */
    position: relative;
    /* margin: 10px; */
    margin-left: 10px;
    margin-right: auto;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.speech-bubble:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -20px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 20px solid rgb(190, 190, 190);
    /* border-top: none;
    border-bottom: none;
    border-left: none; */
}

.speech-bubble.right {
    margin-left: auto;
    background-color: rgb(211, 211, 211);
    margin-right: 10px;
}

.speech-bubble.right:after {
    content: "";
    position: absolute;
    /* bottom: 2px; */
    left: auto;
    right: -20px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 20px solid rgb(211, 211, 211);
    /* border-top-color: rgb(211, 211, 211); */
    /* Колір фону speech bubble */
    /* border-right: none;
    border-bottom: none;
    border-left-color: transparent; */
    /* Робить ліву сторону прозорою */
    /* transform: rotate(90deg); */
    /* Поворот трикутника на 180 градусів */
}

.speech-bubble .messageAuthor {
    font-size: 1em;
    color: #333;
    margin-top: -15px;
    padding: 10px 0;
    /* text-align: left; */
    text-align: right;
    cursor: pointer;
    font-weight: bold;
}

.speech-bubble.right .messageAuthor {
    /* text-align: right; */
    cursor: default;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: calc(3em + 25px);
    z-index: 0;
    overflow-y: hidden;

    /* padding: 20px; */
    height: 100%;
    /* border: 1px solid blue; */
}

main #messageArea {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow-y: auto;
    gap: 20px;
    /* border: 1px solid red; */
    padding: 20px;
    /* max-height: calc(100vh - 130px); */
}

main #inputArea {
    display: flex;
    align-items: center;
    height: 55px;
    padding: 0 20px 10px 20px;
    position: relative;
    /* border: 1px solid green; */
}

main #inputArea #messageInputContainer {
    display: flex;
    height: 100%;
    border: 1px solid #333;
    border-radius: 4px;
    flex: 1;
    position: relative;
    /* border-top: 1px solid #333; */
    /* border: 1px solid yellow; */
}

main #inputArea #messageInputContainer #messageInput {
    flex-grow: 1;
    color: #333;
    padding: 0 8px;
    font-size: 1.2em;
    line-height: 1.2em;
    background-color: transparent;
    /* padding-right: 60px; */
    /* border: 1px solid #000000; */
    /* border-radius: 4px; */
    /* border: 1px solid blue; */
}

main #inputArea #messageInputContainer #sendButton {
    /* position: absolute; */
    color: #333;
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 0 15px;
    cursor: pointer;
    transition: color 0.25s ease, background-color 0.25s ease;
    /* border: 1px solid red; */
}

main #inputArea #messageInputContainer #sendButton:hover {
    color: #f44;
}

/* #messageArea {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    overflow-y: auto;
    border: 1px solid red;
    padding: 10px;
    max-height: calc(100vh - 130px);
}

#inputArea {
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid green;
} */