body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.register-container {
    width: 700px;
    margin: 100px auto;
    padding: 0;
    position: relative;

}

.register-container form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.register-container form:first-child {
    flex-grow: 2;
}

form div {
    /* border: 1px solid red; */
    height: 100%;
    font-size: 50px;

}

form div label {
    font-size: 30px;

}


h1 {
    margin-bottom: 40px;
    font-size: 96px;
    text-align: right;
    color: white;
}

.input-group {
    /* margin-bottom: 15px; */


}

.input-group label {
    display: block;
    /* margin-bottom: 5px; */
    color: white;
}

#pass_lbl {
    margin-top: 50px;
}

.input-group input {
    background-color: #D9D9D9;
    margin: 10px;
    width: 422px;
    height: 55px;
    /* width: calc(100% - 20px); */
    /* padding: 10px; */
    font-size: 45px;
    /* border-radius: 5px; */
    /* border: 1px solid #ccc; */
}

.input-group input:active,
.input-group input:focus {
    outline: none;
    /* border: 2px solid #f44; */
}

button {

    font-size: 60px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    float: right;
    position: relative;
    transition: all 0.15s ease;
}

button:hover {
    color: #f44;
}

a {
    font-size: 25px;
    display: block;
    text-align: center;
    color: white;
    text-decoration: underline;
    margin-top: 80px;
}